.landing {
    background-image: url("../../images/Appliance-repair-san-antonio-65.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
}